<h1>New Booking History</h1>

<!%= render 'form' %>
<%= form_for (@booking_history),:url=> url_for(:controller => 'booking_histories',:action =>'search') do |f| %>



    <div class="field">
      <%= f.label :room_num %><br>
      <%= f.number_field :room_num %>
    </div>
    <div class="field">


      <%= f.label :building %><br>
      <%= f.text_field :building %>
    </div>

    </div>
    <div class="field">
      <%= f.label :size %><br>
      <%= f.text_field :building %>
    </div>

    <div class="actions">
      <%= f.submit "Search" %>


    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>


<% end %>


<%= link_to 'Back', booking_histories_path %>
