<h1>New Booking History</h1>

<!%= render 'form' %>'
<%= form_for (@booking_history),:url=> url_for(:controller => 'booking_histories',:action =>'search') do |f| %>



    <div class="field">
      <%= f.label :room_num %><br>
      <%= f.number_field :room_num %>
    </div>

    <div class="actions">
      <%= f.submit "Search" %>


    </div>
    <%= link_to 'Search', search_booking_history_path %>

<% end %>


<%= link_to 'Back', booking_histories_path %>
