<h2>Bookings for Date</h2>
<% if @booking != nil %>
    <%= @booking.date %>
    <% end %>
    <% l_rooms = Array.new %>
    <% size_rooms = Array.new %>
      <% if @booked_list == nil %>
           <h3>Bookings for these conditions empty</h3>
      <% else %>
          <% if (@booking.building == 'DH Hill' || @booking.building == 'Hunt' ) %>
              <%= "Booking searched for building #{@booking.building}" %>

              <% @list_building = LibraryRoom.where("library_rooms.building = ?",@booking.building ) %>
              <% @booked_list = BookingHistory.where("booking_histories.building = ? AND date = ?",@booking.building,@booking.date ).order(:start_t) %>
              <% @list_building.each do |room| %>
              <% bl = @booked_list.find_by_room_num(room.number) %>
              <%  if bl %>
                <h3>Its der</h3>
              <% else %>
                  <% l_rooms << room %>
              <% end %>
              <% end %>
              <h3> List of Available Rooms </h3>
              <table>
                <tr>
                  <th>Room Num </th>
                  <th>Size </th>
                </tr>
              <% l_rooms.each do |room_l| %>
                   <tr>
                    <td><%= room_l.number %></td>
                     <td><%= room_l.size %></td>

                  </tr>
              <% end %>
              </table>

           <% elsif @booking.size %>
              <%= "Booking searched for size #{@booking.size}" %>
              <% @list_size = LibraryRoom.where("library_rooms.size = ?",@booking.size ) %>
              <% @booked_list = BookingHistory.where("booking_histories.size = ? AND date = ?",@booking.size,@booking.date ).order(:start_t) %>
              <% @list_size.each do |room| %>
              <% sl = @booked_list.find_by_room_num(room.number) %>
                 <%  if sl %>
                  <% else %>
                    <% size_rooms << room %>
                  <% end %>
                  <% end %><br>

                  <h3> List of Available Rooms </h3>
                   <table>
                     <tr>
                       <th>Room Num </th>
                       <th>Size </th>
                     </tr>
                  <% size_rooms.each do |room_s| %>
                      <tr>
                        <td><%= room.number %></td>
                        <td><%= room.building %></td>
                      </tr>
              <% end %>
                     </table>
              <% end %>
          <h3>Bookings for today</h3>
          <table>
           <tr>
             <th>Room Num </th>
             <th>Username </th>
             <th>Start Time</th>
             <th>End Time</th>
             <th> Size </th>
             <th> Building </th>
           </tr>
           <% @booked_list.each do |data| %>
            <tr>
             <td><%= data.room_num %></td>
             <td><%= data.username %></td>
             <td><%= data.start_t %></td>
             <td><%= data.end_t %></td>
             <td><%= data.size %></td>
             <td><%= data.building %></td>
           </tr>

          <% end %>
          </table>
      <% end %>
  <% if @booking.room_num != nil %>
  <h2>Details of Room </h2>

      <% @location = LibraryRoom.where("number = ?",@booking.room_num) %>
      <% building_entry = @location.as_json[0]["building"] %>
      <%= "Building : #{building_entry}" %></br>
      <% @size = LibraryRoom.select("size").where("number = ?",@booking.room_num) %>
      <% size_entry = @size.as_json[0]["size"] %>
      <%= "Size : #{size_entry}" %>
  <% end %>

<%= form_for (@booking),:url=> url_for(:controller => 'booking_histories',:action =>'create') do |f| %>
    <div class="field">
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :room_num %><br>
      <%= f.number_field :room_num %>
    </div>
    <div class="field">
      <%= f.label :start_time_t %><br>
      <%= f.select :start_t,options_for_select(1..23) %>
    </div>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.select :end_t ,options_for_select(1..23)%>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>

    <div class="actions">
      <%= f.submit "Book" %>
    </div>


<% end %>
